/* Colors and shadows */
:root{
    --elementsColor: hsl(0, 0%, 100%);
    --backgroundColor: hsl(0, 0%, 98%);
    --textColor: hsl(200, 15%, 8%);
    --inputColor: hsl(0, 0%, 52%);
    --shadow: 0px 0px 15px -7px hsla(0, 0%, 0%, 0.35);
    --headerShadow: 0px 0px 2px 2px hsla(0, 0%, 0%, 0.05);
}

/* Reset */
body {
    margin: 0px
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

a{
    display: block
}

main>*>div>input{
    border: 0px;
}

/* Universal styling */

main>*>a,
main>*>div,
main>*>select{
    border-radius:5px;
    background-color:var(--elementsColor);
    box-shadow: var(--shadow);
    border: 0px;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300..800;1,6..12,300&display=swap');

html#countriesPage, input, select{
    font: 300 14px 'Nunito Sans', sans-serif, serif;
    color: var(--textColor)
}

#countryDetails{
    font-size: 16px
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    box-shadow: var(--headerShadow);
    padding: 20px 3%;
    position: relative
}

    header>h1{
        font-size:1em;
        font-weight:800;
        letter-spacing:-0.7px;
    }

    header> button{
        font-weight: 400
    }

        header> button >i{
            transform: rotate(335deg);
            margin-right: 10px;
        }

/* Main content container */
main{
    padding: 6% 4.7%;
    background-color: var(--backgroundColor)
}

/* Form */
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-bottom: 35px;
}

    form>label{
        display:none;
    }

    form>div{
        width: 100%;
        height: 3.5em;
        display: flex;
        align-items: center;
    }
        form>div>i{
            padding: 0px 30px;
            font-size: 1.1em;
        }

        form>div>input{
            background-color:var(--elementsColor);
            height: 100%;
            padding: 0px;
            width: 100%;
            font-size:0.8;
        }

            input#searchInput::placeholder {
                color: hsl(0 0% 75%);
                font-weight: 300;
            }
    
    form>select{
        padding: 14px 0px 14px 20px;
        width: 200px;
        appearance: none;
    }


/* Country cards list  */

/* Country details */

/* Load overlay */
#loadOverlay{
    display:none
}