/* Colors and shadows */
:root{
    --elementsColor: hsl(0, 0%, 100%);
    --elementsColorTint: hsl(0, 0%, 94%);
    --backgroundColor: hsl(0, 0%, 98%);
    --textColor: hsl(200, 15%, 8%);
    --inputColor: hsl(0, 0%, 52%);
    --oppositeModeBackgroundColor: hsl(209, 23%, 22%);
    --oppositeModeTextColor: hsl(0, 0%, 100%);
    --shadow: 0px 0px 15px -7px hsla(0, 0%, 0%, 0.35);
    --headerShadow: 0px 0px 2px 2px hsla(0, 0%, 0%, 0.05);
    --modeTransitionTime: 0.8s;
    --hoverTransitionTime: 0.3s
}

/* Reset */
body {
    margin: 0px
}

button, input[type='button'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

[hidden] {
    display: none !important;
}

label{
    display:none;
}

main>*>div>input{
    border: 0px;
}

/* Buttons hover and focus effect*/

.select-container>.select-btn:hover,
.select-container>.select-btn:focus,
#countryDetailsPage>a:hover,
#countryDetailsPage>a:focus,
.border-country-btn:hover,
.border-country-btn:focus{
        background-color: var(--elementsColorTint);
        transition: background-color var(--hoverTransitionTime);
    }

.select-container>.select-options>li>input:hover,
.select-container>.select-options>li>input:focus,
    header> button:hover,
    header> button:focus {
        background-color: var(--elementsColorTint);
    }   
    
.select-container>.select-options>li>input,
header> button{
        transition: background-color var(--hoverTransitionTime);
    }

/* Special Elements */

header,
form>div:nth-child(2),
form>.select-container>*:not(label),
#cardsContainer>a,
#countryDetailsPage>a {
    transition: 
        background-color var(--modeTransitionTime),
        color var(--modeTransitionTime);
    transform: translateZ(0)
}

input#searchInput::placeholder,
#countryDetailsPage>div{
    transition: color var(--modeTransitionTime)
}

body,
.border-country-btn{
    transition: background-color var(--modeTransitionTime);
    transform: translateZ(0);
}

main a,
main>form>div,
main>form>div>button,
main>form>div>ul{
    border-radius:5px;
    background-color:var(--elementsColor);
    box-shadow: var(--shadow);
    border: 0px;
}

.select-container{
    height: 4em
}

    .select-container, .select-container>.select-options{
        width:16em
    }

    .select-container>*{
        width: 100%;
    }

    .select-container>.select-btn{
        display: flex;
        align-items: center;
        text-align: left;
        height: 100%;
        padding: 0 20px 0px 25px;
        cursor:pointer; 
    }

    .select-container>.select-btn>i{
        margin-left:auto;
        margin-right: 3px;
        font-size:0.9em
    }

    .select-container>.select-options{
        margin: 4px 0px;
        position: absolute;
        box-sizing:border-box;
        padding: 0px;
        list-style-type:none;
        z-index:2000;
        opacity:0;
        overflow: hidden;
        max-height: 0px;
        transition:
        max-height 0.2s,
        opacity 0.2s,
        background-color var(--modeTransitionTime),
        color var(--modeTransitionTime);
    }

    .select-container>.select-options>li:first-child{
        margin-top:12px
    }

    .select-container>.select-options>li:last-child{
        margin-bottom:12px
    }

        .select-container>.select-options.open{
            display:block;
            opacity: 1;
            max-height:2000px;
        }

        .select-container>.select-options>li{
            display:block;
        }

        .select-container>.select-options>li>input{
            width: 100%;
            text-align: left;
            padding: 2.5px 25px;
            cursor:pointer;
        }

.infoTitle {
    font-weight: 600;
}

.btn {
    padding: 6px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 88px;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300..800;1,6..12,300&display=swap');

html, input{
    font: 300 14px 'Nunito Sans', sans-serif, serif;
    color: var(--textColor)
}

#countryDetails{
    font-size: 16px
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color:var(--elementsColor);
    box-shadow: var(--headerShadow);
    padding: 20px 3%;
    position: relative
}

    header> button:hover{
        letter-spacing:0.05em
    }

    header>h1{
        font-size:1em;
        font-weight:800;
        letter-spacing:-0.7px;
    }

    header> button{
        font-weight: 400;
        width: 160px;
        cursor: pointer;
        transition: 
            letter-spacing var(--hoverTransitionTime),
            background-color var(--hoverTransitionTime);
        padding: 0.1em 2em;
        border-radius: 5px;
    }

        header> button >i{
            transform: rotate(335deg);
            margin-right: 10px;
        }

/* Main content container */
main{
    padding: 6% 4.7%;
}

body{
    background-color: var(--backgroundColor);
    min-height: 100vh 
}

/* Form */
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-bottom: 35px;
}

    form>div:nth-child(2){
        height: 4em;
        width: 100%;
        display: flex;
        align-items: center;
    }

    form>div:nth-child(2):has(input:focus-visible){
        outline: chocolate ridge 2px;
    }

        form>div>i{
            padding: 0px 30px;
            font-size: 1.1em;
            color: #bdbdbd;
        }

        form>div>input{
            background-color:transparent;
            height: 100%;
            padding: 0px;
            width: 100%;
            font-size:0.8;
        }
            form>div>input:focus-visible,
            form>div>input:focus{
                outline: none
            }

            input#searchInput::placeholder {
                color: var(--textColor);
                font-weight: 300;
            }
    
    form>.select-container{
        font-weight: 400;
        font-size: 0.9em;
    }


/* Country cards list  */
#cardsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

    #cardsContainer>a{
        width: 265px;
        height: 335px;
        overflow: hidden;
        text-decoration: none;
        color: var(--textColor);
    }

        #cardsContainer>a>img{
            width:100%;
        }

        #cardsContainer>a>div{
            padding:6px 20px
        }

        #cardsContainer>a h2{
            font-weight:800
        }

        #cardsContainer>a h2{
            font-weight:800;
            font-size: 1.2em;
        }

        #cardsContainer>a .infoTitle{
            font-weight:600
        }

            #cardsContainer>a p>div{
                margin-bottom:5px
            }



/* Country details */
#countryDetailsPage{
    padding: 5.5% 2.5%;
}

    #countryDetailsPage>a{
        margin: 0px 0px 65px 0px;
    }

        #countryDetailsPage>a>i{
            margin-right:8px
        }

    #countryDetailsPage>div{
        display: flex;
        flex-wrap: wrap;
        row-gap: 45px;
        column-gap:120px;
    }

        #countryDetailsPage>div>img{
            width:100%
        }
        #countryDetailsPage>div h2{
            margin:0px 0px 27px 0px;
            font-weight:800
        }

        #countryDetailsPage>div p{            
            display: flex;
            flex-wrap: wrap;
            column-gap: 140px;
            row-gap: 45px;
            margin: 0px 0px 45px 0px;
            font-size: 1.05em;
        }

        #countryDetailsPage div:has(>.infoTitle):not(:last-child) {
            margin-bottom: 12px;
        }

                #countryDetailsPage>div>div>span{        
                    font-size: 1.2em;
                    margin-bottom: 21px;
                    display: inline-block;
                }

                #countryDetailsPage .border-countries-container>.infoTitle {
                    display:inline-block;
                    margin-bottom:20px;
                }

                #countryDetailsPage .border-countries-container>div{
                    display: grid;
                    grid-auto-rows: 1fr;
                    grid-template-columns: repeat(auto-fill, 100px);
                    gap: 20px 10px;
                }

                
        

/* Load overlay */
#loadOverlay{
    display:none
}


/* For some screen sizes */

@media (min-width: 1440px){

    #countryDetailsPage {
        padding: 0.5% 1.5%
    }

    #countryDetailsPage>div>img{
        width:560px
    }

    #countryDetailsPage>div{
        align-items:center
    }
}
